FormatStyle: Google
Checks: >
  abseil-*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
WarningsAsErrors: "*"
